#datepicker{
    width:0px;
    height:0px;
}
#calendar1 {
    width: 250px;
    height: 280px;
    border: 3px solid rgb(25, 110, 162);
    background: rgb(35, 137, 201);
    line-height: 1.2em;
    font-size: 20px;
    text-align: center;
    visibility: hidden;
}

tbody {
    display: table-row-group;
    border: 2px solid rgba(35, 137, 201, 1);
    background: white;
}

thead {
    background: rgb(35, 137, 201);
    color: white;
    display: table-header-group;
}

#calendar1 thead tr:last-child {
    font-size: small;
    color: white;
}

#calendar1 thead tr:nth-child(1) td:nth-child(2) {
    color: white;
}

#calendar1 thead tr:nth-child(1) td:nth-child(1):hover, #calendar1 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}

#calendar1 tbody td {
    color: rgb(44, 86, 122);
}

    #calendar1 tbody td:nth-child(n+6), #calendar1 .holiday {
        color: rgb(255, 0, 0);
    }

    #calendar1 tbody td.today {
        border: 2px solid rgb(0, 0, 0);
    }

    #calendar1 tbody td.befortoday {
        background: rgba(0,0,0,0.25);
    }

.clear {
    background: aliceblue;
    color: #fff;
}

.cell {
    cursor: default;
}

.reservNow {
    background: rgba(0, 255, 57, 0.78);
}

.reserv {
    background: rgba(0, 112, 255, 0.34);
    color: #fff;
}

.unready {
    color: rgba(0,0,0,0.38);
}
