
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="back_image"></div>
<div id="container_entertainment_bg">
    <div id="entertainment_bg"></div>
    <div id="page_container">
        <div id="container_entertainment_header">
            <div id="entertainment_header">
                <span>О нас</span>
            </div>
        </div>
        <div id="container_overview">
            <div id="overview">
                <p class="aboutus_header">Отдых в Ейске</p>
                <p class="aboutus_header">Ейск - самый замечательный курортный город Азовского побережья</p>
            </div>
        </div>
        <div id="container_aboutus">
            <div class="container_aboutus_text">
                <div class="liners"></div>
                <p>Город Ейск уютно расположился на побережье Азовского моря. Омываемые с трех сторон теплыми водами он просто создан для семейного отдыха. Кроме солнечных пляжей, город может порадовать Вас парками с длинными тенистыми аллеями. Ейский климат способствует улучшению здоровья и настроения. Город окружен источниками сероводородных минеральных вод, которые славятся лечебными грязями. Эти факторы делают Ейск уникальным курортом.</p>
                <p>&nbsp</p>
                <p>Любители пляжного отдых будут приятно обрадованы расположением жилья. Пару минут пешком и Вы можете пройти по обжигающему песчаному пляжу и окунуться в освежающую воду. Температура воды позволяет купаться не только взрослым, но и самым маленьким детям.</p>
            </div>
            <div class="container_aboutus_text">
                <div class="liners"></div>
                <p>Если Вы ищете жилье в Ейске, то мы готовы предложить не только комфортабельные номера для проживание со сплит-системами, Wi-Fi'ем, холодильниками, телевизорами с цифровым ТВ, но и спокойную обстановку, трансфер и предоставление информации обо всех актуальных развлечениях города. Если Вы устанете от шумных компаний, то во дворе предусмотрена отдельная зона для приготовления и приема пищи(плита, мангал...).</p>
                <p>&nbsp</p>
                <p>Если у Вас возникли вопросы об отдыхе, то можете задать их @Html.ActionLink("здесь","Contacts") или позвонить по указанным там же номерам.</p>
                <p>&nbsp</p>
                <p>Ждем Вас в нашем прекрасном городе и приглашаем остановиться у нас.</p>
            </div>
            <div id="container_aboutus_image"></div>

        </div>
    </div>
</div>
