
@{
    ViewBag.Title = "Entertainment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="back_image_ent"></div>
<div id="container_entertainment_bg">
    <div id="entertainment_bg"></div>
    <div id="page_container">
        <div id="container_entertainment_header">
            <div id="entertainment_header">
                <span>Развлечения</span>
            </div>
        </div>
        <div id="container_overview">
            <div id="overview">
                <span>В нашем городе найти развлечение для себя может каждый. Самое главное, конечно, это пляжи с теплой водой, которые порадуют как взрослых, так и детей. Ну а теплым летнем вечером Вы сможете посетить красивейшие парки нашего города, протянувшиеся через него. Прокатиться на различных аттракционах или просто прогуляться в тени высоких деревьев.</span>
            </div>
            <div class="liners first"></div>
        </div>
        <div id="container_galery">
            <div class="photos" id="photo1">
                <div class="img_overview">
                    <div class="img_text">
                        <span>Дельфинарий Ейска</span>
                    </div>
                </div>
                <img src="~/Content/Media/Galery/photo1.jpg" />
            </div>
            <div class="photos" id="photo2">
                <div class="img_overview">
                    <div class="img_text">
                        <span>Набережная</span>
                    </div>
                </div>
                <img src="~/Content/Media/Galery/photo2.jpg" />
            </div>
            <div class="photos" id="photo3">
                <div class="img_overview">
                    <div class="img_text">
                        <span>Аквапарк</span>
                    </div>
                </div>
                <img src="~/Content/Media/Galery/photo3.jpg" />
            </div>
            <div class="photos" id="photo4">
                <div class="img_overview">
                    <div class="img_text">
                        <span>Ейский Океанариум</span>
                    </div>
                </div>
                <img src="~/Content/Media/Galery/photo4.jpg" />
            </div>
            <div class="photos" id="photo5">
                <div class="img_overview">
                    <div class="img_text">
                        <span>Парк Поддубного</span>
                    </div>
                </div>
                <img src="~/Content/Media/Galery/photo5.jpg" />
            </div>
            <div class="photos" id="photo6">
                <div class="img_overview">
                    <div class="img_text">
                        <span>Центральный Пляж</span>
                    </div>
                </div>
                <img src="~/Content/Media/Galery/photo6.jpg" />
            </div>
            <div class="photos" id="photo7">
                <div class="img_overview">
                    <div class="img_text">
                        <span>Местная Живность</span>
                    </div>
                </div>
                <img src="~/Content/Media/Galery/photo7.jpg" />
            </div>
            <div class="photos" id="photo8">
                <div class="img_overview">
                    <div class="img_text">
                        <span>Иван Поддубный</span>
                    </div>
                </div>
                <img src="~/Content/Media/Galery/photo8.jpg" />
            </div>
            <div class="photos" id="photo9">
                <div class="img_overview">
                    <div class="img_text">
                        <span>Колесо Обозрения</span>
                    </div>
                </div>
                <img src="~/Content/Media/Galery/photo9.jpg" />
            </div>
        </div>
    </div>
</div>
