<div id="mask">
    <div class="text_in_blur">
        <span>
            Ваша заявка зарегестрирована. Мы свяжемся с Вами для уточнения деталей.
        </span>
        <span>
            Через 5 секунд вы вернетесь на главную страницу.
        </span>
    </div>
</div>
