
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <title>DatePicker</title>
</head>
<body>
    <style>
        #datepicker {
        }
        #calendar1 {
            width: 240px;
            height: 280px;
            border: 3px solid rgb(25, 110, 162);
            background: rgb(35, 137, 201);
            font: monospace;
            line-height: 1.2em;
            font-size: 20px;
            text-align: center;
            visibility:hidden;
        }
        tbody {
            display: table-row-group;
            border: 2px solid rgba(35, 137, 201, 1);
            background: white;
        }
        thead {
            background: rgb(35, 137, 201);
            color: white;
            display: table-header-group;
        }
            #calendar1 thead tr:last-child {
                font-size: small;
                color: white;
            }
            #calendar1 thead tr:nth-child(1) td:nth-child(2) {
                color: white;
            }
            #calendar1 thead tr:nth-child(1) td:nth-child(1):hover, #calendar1 thead tr:nth-child(1) td:nth-child(3):hover {
                cursor: pointer;
            }
            #calendar1 tbody td {
                color: rgb(44, 86, 122);
            }
                #calendar1 tbody td:nth-child(n+6), #calendar1 .holiday {
                    color: rgb(255, 0, 0);
                }
                #calendar1 tbody td.today {
                    border: 2px solid rgb(0, 0, 0);
                }
        .clear {
            background: aliceblue;
            color: #fff;
        }
        .cell{
        }
        .reserv {
            background: rgba(0, 112, 255, 0.34);
            color: #fff;
        }
        .reservNow {
            background: rgba(0, 255, 57, 0.78);
        }
    </style>
    <form>
        <input id="datepicker_input" type="date" />
        <input id="datepicker_output" type="date" />
    </form>
        <table id="calendar1">
            <thead>
                <tr><td id="left_arrow">‹<td colspan="5"><td id="right_arrow">›
                <tr><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
            <tbody></tbody>
        </table>

        <script>
            var Days;
            var month = new Date().getMonth();
            var year = new Date().getFullYear();
            function calendar1(id, year, month, days) {
                var Dlast = new Date(year, month + 1, 0).getDate(),
                    D = new Date(year, month, Dlast),
                    DNlast = new Date(D.getFullYear(), D.getMonth(), Dlast).getDay(),
                    DNfirst = new Date(D.getFullYear(), D.getMonth(), 1).getDay(),
                    calendar = '<tr>',
                    month = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"];
                if (DNfirst != 0) {
                    for (var i = 1; i < DNfirst; i++) calendar += '<td>';
                } else {
                    for (var i = 0; i < 6; i++) calendar += '<td>';
                }
                for (var i = 1; i <= Dlast; i++) {
                    if (i == new Date().getDate() && D.getFullYear() == new Date().getFullYear() && D.getMonth() == new Date().getMonth()) {
                        if (days[i - 1] == '1')
                            calendar += '<td class=" cell today reserv">' + i;
                        else
                            calendar += '<td class="cell today clear">' + i;
                    } else {
                        if (days[i - 1] == '1')
                            calendar += '<td class="cell reserv">' + i;
                        else
                            calendar += '<td class="cell clear">' + i;
                    }
                    if (new Date(D.getFullYear(), D.getMonth(), i).getDay() == 0) {
                        calendar += '<tr>';
                    }
                }
                for (var i = DNlast; i < 7; i++) calendar += '<td>&nbsp;';
                document.querySelector('#' + id + ' tbody').innerHTML = calendar;
                document.querySelector('#' + id + ' thead td:nth-child(2)').innerHTML = month[D.getMonth()] + ' ' + D.getFullYear();
                document.querySelector('#' + id + ' thead td:nth-child(2)').dataset.month = D.getMonth();
                document.querySelector('#' + id + ' thead td:nth-child(2)').dataset.year = D.getFullYear();
                if (document.querySelectorAll('#' + id + ' tbody tr').length < 6) {  // чтобы при перелистывании месяцев не "подпрыгивала" вся страница, добавляется ряд пустых клеток. Итог: всегда 6 строк для цифр
                    document.querySelector('#' + id + ' tbody').innerHTML += '<tr><td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;';
                }
            }
            

            function UpdateDays() {
                $.ajax({
                    url: "GetDate",
                    data: 'month=' + (month + 1),
                    success: function (data) {
                        Days = data;
                        calendar1("calendar1", new Date().getFullYear(), month, Days);
                    }
                });
            }
            document.onload = UpdateDays();
            
            // переключатель минус месяц
            $("#left_arrow").click(function () {
                month = month - 1;
                UpdateDays();
            })
            
            // переключатель плюс месяц
            $("right_arrow").click(function () {
                month = month + 1;
                UpdateDays();
            })
            var start;
            var finish;
            //Подсвечивание при нажатии
            $("table").click(function (e) {
                $(this).find(start).removeClass("reservNow");
                start = e.target;
                var elem = $(this).find(e.target).addClass("reservNow");
                setTimeout(function () {
                    $("#calendar1").css({ "visibility": "hidden" });
                }, 200);
                if (start.innerHTML.length < 2)
                    var day = "0" + start.innerHTML;
                else
                    var day = start.innerHTML;
                if (month.toString().length < 2)
                    var Month = "0" + month;
                else
                    var Month = month;
                $("#datepicker_input").val(year + "-" + Month + "-" + day);
            });
            $("#datepicker_input").click(function (e) {
                e.preventDefault();
                $("#calendar1").css({ "position": "relative", "top": "-" + $("#datepicker_input").outerHeight() + "px", "visibility": "visible" });
            })
        </script>
</body>
</html>
