
@{
    Layout = null;
}



<script src=@Url.Content("~/Scripts/jquery-1.12.4.js") type="text/javascript"></script>
<script src=@Url.Content("~/Content/Scripts/datepicker.js") type="text/javascript"></script>
    <div> 
        <input type="text" class="datepicker-here" ></input>
    </div>
    

